.loader {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 4;
    height: 100vh;
    width: 100vw;
    background-color: #282c37;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.loader .loading {
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.loader .dot {
    width: 12px;
    height: 12px;
    background-color: #FFF;
}

.loader .dot-1 {
    left: 16px;
}

.loader .dot-2 {
    left: 28px;
}

.loader .dot-3 {
    left: 40px;
}

.actions .loading {
    margin-top: -25px;
    margin-right: 30px;
    display: none;
}

.actions .dot {
    width: 8px;
    height: 8px;
    background-color: #FFF;
}

.actions .dot-1 {
    left: 12px;
}

.actions .dot-2 {
    left: 20px;
}

.actions .dot-3 {
    left: 28px;
}

.dot-1 {
    border-radius: 100%;
    position: relative;
    display: inline-block;
    top: 0px;
    animation: dot-1 2.5s infinite;
}

.dot-2 {
    border-radius: 100%;
    position: relative !important;
    display: inline-block;
    animation: dot-2 2.5s infinite;
}

.dot-3 {
    border-radius: 100%;
    background-color: #FFF;
    position: relative;
    display: inline-block;
    animation: dot-3 2.5s infinite;
}